@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100vh;
}

body {
  font-family: 'Raleway', sans-serif;
}

ul {
  list-style: none;
}

img, span {
  display: block;
}

img {
  width: 100%;
}

.btn {
  width: 100%;
  padding: 16px 32px;
  text-align: center;
  background-color: #5ECE7B;
  color: #fff;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  font-family: inherit;
}

.btn:disabled {
  cursor: not-allowed;
}